<a href="https://colab.research.google.com/github/vigneshvalliappan/DRLgames/blob/master/Section_3_3_key_vol_scoring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import relevant libraries

import pandas as pd

import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')

from nltk.tokenize import word_tokenize
from nltk.stem.porter import *

import plotly.express as px
import matplotlib.pyplot as plt

import random
from nltk.corpus import stopwords

from collections import Counter

import math
import numpy as np

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# read data
training_data = pd.read_csv('/content/drive/MyDrive/non DL NLP/Project/training_data_set_v3.csv')

training_data = training_data.drop('Unnamed: 0', axis = 1)

training_data

                    review_id  ...                 date
0      EqkT4qw4acnPDE0Ml8Dfog  ...  2016-01-30 05:50:59
1      XCRmpw4z8eKLmi1z5wEE4A  ...  2017-05-13 13:30:44
2      -kaduqAoh_hFbtH7fTUCYw  ...  2018-09-03 03:27:35
3      msJzFFkCGmk_JX8o8lXEfA  ...  2017-01-27 20:43:47
4      zUujjVzj5X97FEhYMyqR6A  ...  2017-07-28 20:40:33
...                       ...  ...                  ...
60242  w8hkeVnfNu3hPiUT4YHdfg  ...  2019-04-29 16:18:12
60243  Vh8lu4ddh4zXvvjykxOdoQ  ...  2019-10-29 13:58:46
60244  CZWxvsTA0uy34qVj9zNyEQ  ...  2019-11-18 08:46:48
60245  _FhR5ewN_vDbLi6smfIqGA  ...  2019-11-09 02:48:10
60246  bhxUg7xNvn8IZzteFnFN3g  ...  2019-10-05 23:43:45

[60247 rows x 9 columns]

In [4]:
# create tokens and associated metrics

tokens = pd.DataFrame()
stop_words = set(stopwords.words('english')) 

tokens['tokenized_minus_stop'] = training_data['text'].apply(lambda x: [tokens.lower() for tokens in word_tokenize(x) if tokens.lower() not in stop_words])
tokens['token_vol_no_stop'] = tokens['tokenized_minus_stop'].apply(lambda y: len(y))

token_volume_per = [np.percentile(tokens['token_vol_no_stop'], i) for i in range(0, 101, 1)]

print(tokens)

print('min_token_volume:', min(tokens['token_vol_no_stop']))
print('max_token_volume:', max(tokens['token_vol_no_stop']))
print()

print('0th percentile of token_vol_no_stop:', token_volume_per[0])
print('10th percentile of token_vol_no_stop:', token_volume_per[10])
print('20th percentile of token_vol_no_stop:', token_volume_per[20])
print('30th percentile of token_vol_no_stop:', token_volume_per[30])
print('40th percentile of token_vol_no_stop:', token_volume_per[40])
print('50th percentile of token_vol_no_stop:', token_volume_per[50])
print('60th percentile of token_vol_no_stop:', token_volume_per[60])
print('70th percentile of token_vol_no_stop:', token_volume_per[70])
print('80th percentile of token_vol_no_stop:', token_volume_per[80])
print('90th percentile of token_vol_no_stop:', token_volume_per[90])
print('100th percentile of token_vol_no_stop:', token_volume_per[100])

                                    tokenized_minus_stop  token_vol_no_stop
0      [first, time, visit, truly, amazing, ., every,...                 26
1      [favorite, restaurant, pittsburgh, ,, anywhere...                 77
2      [service, lovely, ., live, nyc, eaten, spanish...                 64
3      [great, food, even, better, atmosphere, ., try...                 17
4      [absolute, fantastic, dinner, !, !, partner, c...                203
...                                                  ...                ...
60242  ['m, chinatown, area, often, many, restaurants...                104
60243  [location, :, las, vegas, chinatown, (, jones,...                 54
60244  [place, upscale, feeling, chinese, food, joint...                 46
60245  [coming, since, mamajias, ., ummmm, sure, 4.5,...                 72
60246  [amazing, chinese, restaurant, !, 've, needing...                 97

[60247 rows x 2 columns]
min_token_volume: 1
max_token_volume: 685

0th percentile of token_vol_no_stop: 1.0
10th percentile of token_vol_no_stop: 18.0
20th percentile of token_vol_no_stop: 25.0
30th percentile of token_vol_no_stop: 32.0
40th percentile of token_vol_no_stop: 39.0
50th percentile of token_vol_no_stop: 49.0
60th percentile of token_vol_no_stop: 60.0
70th percentile of token_vol_no_stop: 76.0
80th percentile of token_vol_no_stop: 100.0
90th percentile of token_vol_no_stop: 144.0
100th percentile of token_vol_no_stop: 685.0

In [5]:
# https://www.codegrepper.com/code-examples/python/find+the+index+of+closest+element+above+and+below+a+value+in+an+array+python
def find_nearest(array, value):
    array = np.asarray(array)
    idx = (np.abs(array - value)).argmin()
    return array[idx]

In [6]:
# POS tagging + various scoring mechanisms

keywords = set(['service', 'staff', 'waiter', 'waitress', '$', 'price', 'prices', 'cost', 'overpriced', 'expensive', 'cheap', 'inexpensive', 'pricey', 'pricy', 'deal', 'deals', 'specials', 'special', 'pay', 'paid', 'inexpensive', 'location', 'located', 'area', 'neighborhood', 'selection', 'atmosphere', 'lighting', 'experience', 'experienced', 'toilet', 'washroom', 'bathroom', 'crowd', 'crowded', 'wait', 'waited', 'waiting', 'appointment'])
optimal_token_vol_per = 80
norm_div = 1
adj_vol_weight = 0.3

tokens['token_volume_score'] = tokens['token_vol_no_stop'].apply(lambda x: 1 - abs(token_volume_per.index(find_nearest(token_volume_per, x)) - optimal_token_vol_per)/max(optimal_token_vol_per - 0, 100 - optimal_token_vol_per))
tokens['keyword_score_raw'] = tokens['tokenized_minus_stop'].apply(lambda x: len(set([tokens for tokens in x if tokens in keywords]))*norm_div/len(keywords))
tokens['nouns_minus_stop'] = tokens['tokenized_minus_stop'].apply(lambda x: [(tokens, tags) for tokens, tags in nltk.pos_tag(x) if tags.startswith('N')])
tokens['adj_minus_stop'] = tokens['tokenized_minus_stop'].apply(lambda x: [(tokens, tags) for tokens, tags in nltk.pos_tag(x) if tags.startswith('J')])
tokens['adj_volume'] = tokens['adj_minus_stop'].apply(lambda x: len(x))

min_adj_volume = min(tokens['adj_volume'])
max_adj_volume = max(tokens['adj_volume'])
tokens['adj_volume_score'] = tokens['adj_volume'].apply(lambda x: (x - min_adj_volume)/(max_adj_volume - min_adj_volume))

min_keyword_score = min(tokens['keyword_score_raw'])
max_keyword_score = max(tokens['keyword_score_raw'])
tokens['keyword_score_norm'] = tokens['keyword_score_raw'].apply(lambda x: (x - min_keyword_score)/(max_keyword_score - min_keyword_score))

tokens['volume_score'] = tokens['adj_volume_score']*adj_vol_weight + tokens['token_volume_score']*(1 - adj_vol_weight)

token_volume_score_per = [np.percentile(tokens['token_volume_score'], 0), np.percentile(tokens['token_volume_score'], 20), np.percentile(tokens['token_volume_score'], 40), np.percentile(tokens['token_volume_score'], 60), np.percentile(tokens['token_volume_score'], 80), np.percentile(tokens['token_volume_score'], 100)]
print(token_volume_score_per)
print('min_adj_volume:', min_adj_volume)
print('max_adj_volume:', max_adj_volume)

tokens

[0.0, 0.25, 0.5, 0.75, 0.875, 1.0]
min_adj_volume: 0
max_adj_volume: 117

                                    tokenized_minus_stop  ...  volume_score
0      [first, time, visit, truly, amazing, ., every,...  ...      0.199135
1      [favorite, restaurant, pittsburgh, ,, anywhere...  ...      0.643269
2      [service, lovely, ., live, nyc, eaten, spanish...  ...      0.574327
3      [great, food, even, better, atmosphere, ., try...  ...      0.077692
4      [absolute, fantastic, dinner, !, !, partner, c...  ...      0.647179
...                                                  ...  ...           ...
60242  ['m, chinatown, area, often, many, restaurants...  ...      0.747660
60243  [location, :, las, vegas, chinatown, (, jones,...  ...      0.496635
60244  [place, upscale, feeling, chinese, food, joint...  ...      0.439455
60245  [coming, since, mamajias, ., ummmm, sure, 4.5,...  ...      0.617019
60246  [amazing, chinese, restaurant, !, 've, needing...  ...      0.747660

[60247 rows x 10 columns]

In [7]:
# print a particular record to observe various scores

print('tokenized_minus_stop:', tokens.iloc[16608]['tokenized_minus_stop'])
print()

print('token_vol_no_stop:', tokens.iloc[16608]['token_vol_no_stop'])
print('token_volume_score:', tokens.iloc[16608]['token_volume_score'])
print()

print('adj_volume:', tokens.iloc[16608]['adj_volume'])
print('adj_volume_score:', tokens.iloc[16608]['adj_volume_score'])
print()

print('volume_score:', tokens.iloc[16608]['volume_score'])
print()

print('keyword_score_raw:', tokens.iloc[16608]['keyword_score_raw'])
print('keyword_score_norm:', tokens.iloc[16608]['keyword_score_norm'])

tokenized_minus_stop: ['stopped', 'last', 'week', 'conclude', 'graduation', 'celebration', '.', 'place', 'decided', 'upon', ',', 'little', 'skeptical', 'huge', 'fan', 'hookah', 'around', 'smoke', ',', 'went', 'anyway', '.', 'arrived', 'notified', 'show', 'live', 'bands', 'belly', 'dancers', '.', 'cost', '$', '10', '.', 'got', 'drink', '.', 'none', 'us', 'wanted', 'pay', 'due', 'time', '.', 'luckily', ',', 'space', 'available', "n't", 'pay', 'kind', 'enough', 'seat', 'large', 'party', '.', 'place', 'pretty', 'big', 'separate', 'rooms', '.', "n't", 'able', 'go', 'big', 'room', ',', 'due', 'event', ',', 'take', 'peek', 'saw', ',', 'seemed', 'big', 'colorful', '.', 'low', 'lighting', 'sets', 'chill', 'atmosphere', '.', 'plan', 'spend', 'money', ',', "n't", 'happen', '.', 'looked', 'menu', 'said', ',', '``', 'ohh', ',', 'looks', 'good', '...', '!', "''", 'plan', 'spending', 'money', 'went', 'smoke', 'hookah', '.', 'ordered', 'olive', 'mediterranean', 'combo', 'came', 'hummus', ',', 'baba', 'ganoush', ',', 'feta', 'cheese', ',', 'cucumber', ',', 'yogurt', 'salad', ',', 'tomatoes', ',', 'olives', 'tabouleh', 'along', '2', 'orders', 'fries', '.', ',', 'went', 'town', 'combo', '!', 'serve', 'warm', 'pita', 'bread', 'ca', "n't", 'tell', 'many', 'ate', '.', 'one', 'minis', "n't", 'agree', 'taste', 'buds', '.', 'combo', 'awesome', 'ca', "n't", 'beat', 'price', 'either', 'food', '.', 'lady', 'helping', 'us', 'said', 'one', 'liveliest', 'groups', "'s", 'loved', 'us', '.', 'loved', 'service', 'excellent', '!', 'co-workers', 'checked', 'see', '.', 'checked', 'hookahs', 'others', 'needed', 'anything', ',', 'made', 'happen', '.', 'prompt', ',', 'friendly', 'service', '.', 'evening', 'enjoyable', 'great', 'way', 'end', 'night', 'celebration', '.']

token_vol_no_stop: 210
token_volume_score: 0.8

adj_volume: 31
adj_volume_score: 0.26495726495726496

volume_score: 0.6394871794871795

keyword_score_raw: 0.18421052631578946
keyword_score_norm: 0.5833333333333334

In [8]:
tokens.to_csv('tokens.csv')

In [9]:
# get a subset of tokens dataframe based on whether normalized keyword score is 0 and and volume score is >= 0.5

tokens_subset = tokens.loc[(tokens['keyword_score_norm'] == 0) & (tokens['volume_score'] >= 0.5)]

tokens_subset

                                    tokenized_minus_stop  ...  volume_score
5      [5, stars, ., best, restaurant, pittsburgh, ,,...  ...      0.692147
32     [outstanding, ., maybe, best, meal, 've, ever,...  ...      0.644327
35     ['m, love, morcilla, !, although, unfortunatel...  ...      0.569199
43     [going, focus, negative, think, could, 5, star...  ...      0.669359
51     ['m, state, customer, chose, restaurant, dinne...  ...      0.563013
...                                                  ...  ...           ...
60207  [came, ces, upon, recommendation, friend, ., g...  ...      0.541891
60214  [great, food, !, 's, wan, na, say, ., opinion,...  ...      0.555769
60218  [give, two, stars, ,, things, edible, ..., sup...  ...      0.736346
60239  [save, room, freshly, baked, egg, tarts, !, !,...  ...      0.693205
60245  [coming, since, mamajias, ., ummmm, sure, 4.5,...  ...      0.617019

[3598 rows x 10 columns]